In [41]:
#Program to find average value of the numbers in a given tuple
li = input("Enter the values in comma separated format: ").split(",")
n =0
sum = 0
for i in li:
    li[n] = int(i)
    n = n+1
tup = tuple(li)
n = 0
for i in tup:
    sum = sum + tup[n]
    n = n+1
sum = sum/n
print(f"The tuple is {tup}")
print(f"The average is {sum}")

Enter the values in comma separated format: 12,32,43,45,65
The tuple is (12, 32, 43, 45, 65)
The average is 39.4